@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

div {
  display: flex;
}

span {
  color: darkorange;
  cursor: pointer;
}

span.disabled {
  color: darkkhaki;
  cursor: initial;
}
