<ng-container *ngFor="let rating of mockRatings; last as last">
  <code>
    <![CDATA[
    <jayes-rating [ngClass]="{'custom-style': {{!!rating.class}} }" [values]="{{rating.values}}" [maxValue]="{{rating.maxValue}}" [disabled]="{{rating.disabled}}" (rateSubmit)="{{rating.rateSubmit ? 'saveRate()' : ''}}"></jayes-rating>
    ]]>
  </code>
  <jayes-rating [ngClass]="{'custom-style': !!rating.class }" [values]="rating.values" [maxValue]="rating.maxValue" [disabled]="rating.disabled"></jayes-rating>
  <hr *ngIf="!last">
</ng-container>
<hr>
<jayes-rating [values]="[5,4,4]" [(average)]="average"></jayes-rating>
<div>Binded value: {{average}}</div>
