@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

div {
  display: inline-flex;
}

div {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  margin: 0;
  padding: 0;
}

.disabled {
  filter: opacity(0.5);
}
