@import url("icon-font/css/font-awesome.css");
@import url("icon-font/css/font-awesome-ie7.css");

div {
  display: inline-flex;
  all: inherit;
}

div > div {
  display: inline-flex;
  cursor: pointer;
}

.disabled {
  filter: opacity(0.5);
}
