@import url('icon-font/css/font-awesome.css');
@import url('icon-font/css/font-awesome-ie7.css');

div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-size: 18px;
}

.ngj-rating-box {
  margin: 4px;
}

.ngj-rating-star {
  cursor: pointer;
  width: 1em;
}

.ngj-rating-rate {
  margin: 0 8px;
}

.disabled {
  filter: opacity(0.5);
}

.disabled .ngj-rating-star {
  cursor: initial;
}
