/* Global styles */
.ngj-rating-star {
  color: goldenrod;
  font-size: 32px;
}

.ngj-rating-rate {
  color: darkslategray;
}

/* Custom class */
.custom-class .ngj-rating-box {
  border: 1px dashed yellowgreen;
}

.custom-class .ngj-rating-container {
  background: salmon;
}

.custom-class .ngj-rating-star {
  color: black;
}

.custom-class .ngj-rating-rate {
  color: green;
}
